

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin-top: 12%;
}


.container {
    display: flex;
    height: auto;
}


.sidebar {
    width: 20%;
    background-color: #4f2b1a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}


.sidebar ul li {
    margin: 10px 0;
}


.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}


.sidebar ul li a:hover {
    background-color: #b68d5f;
    transform: scale(1.05);
}


.faq-wrapper {
    width: 80%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


h2 {
    font-size: 30px;
    color: #4f2b1a;
    font-weight: bold;
    margin-bottom: 20px;
}


.accordion {
    background: #f2d470;
    border: none;
    padding: 18px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #4f2b1a;
}


.accordion:hover {
    background: #e0994c;
    transform: scale(1.02);
}


.panel {
    background: #fff8ee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0 20px;
}


.panel.active {
    max-height: none;
    padding: 10px 20px;
    overflow: visible;


}


.panel p {
    padding: 15px 0;
}



