.buy,.cart{
    background-color: #E3CCBD;
    color:#4F2B1A;
    gap:5rem;
}

.container{
    margin-top:200px;
}
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-image {
    transition: transform 0.3s ease;
}

.main-image:hover {
    transform: scale(1.1);
}

.thumbnail-container img {
    transition: transform 0.3s ease;
}

.thumbnail-container img:hover {
    transform: scale(1.1);
}

.heart-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.heart-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.product-options {
    width:100%;
}

.row {
    display: flex;
    align-items: center;
}

.btn-group .btn {
    min-width: 5rem;
}

.quantity-input input {
    width: 50px;
    text-align: center;
    padding: 5px;
}

.quantity-input .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
}
hr {
    border-width: 2px;
    border-color: black;
}
.btn.active {
    background-color: #E3CCBD;
    color:#4F2B1A;
}

