<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Petopia Spa - Liên Hệ</title>
    <link rel="stylesheet" href="contact.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="flex md-flex">
            <div class="bg-dark">
                <h2 class="text-lg font-bold mb-4">GIẢI ĐÁP THẮC MẮC</h2>
                <p class="mb-4">Khách iu có thể liên hệ trực tiếp qua hotline: 999.999.999 để được giải đáp thắc mắc một cách nhanh chóng.</p>
                <p class="mb-4">Hoặc Quý Khách có thể gửi nội dung về hộp thư dưới đây:</p>
                <form>
                    <input class="input" placeholder="Họ và Tên" type="text" required />
                    <input class="input" placeholder="Số điện thoại" type="tel" required />
                    <textarea class="textarea" placeholder="Nhập nội dung" required></textarea>
                    <div class="button-container">
                        <button class="button" type="submit">Gửi</button>
                    </div>
                </form>
            </div>
            <div class="flex-1 space-y-4">
                <div class="bg-light">
                    <h2 class="text-lg font-bold mb-4">THÔNG TIN LIÊN HỆ</h2>
                    <p>VĂN PHÒNG: 1206/12 Kha Vạn Cân, Linh Trung, Tp. Thủ Đức, Tp. Hồ Chí Minh</p>
                    <p>ĐIỆN THOẠI: 999.999.999</p>
                    <p>EMAIL: petopiaspa&#64;gmail.com</p>
                    <p>THỜI GIAN LÀM VIỆC: 8:00 - 17:00 (Thứ Hai - Thứ Sáu)</p>
                </div>
                <div class="bg-light mt-4"> <!-- Thêm khoảng cách giữa các phần -->
                    <h2 class="text-lg font-bold mb-4">BẢN ĐỒ</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3591.820481198235!2d106.75845127462846!3d10.860990889292957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175279ac4acdd27%3A0x5f8144432ffbab85!2zMTIwNiDEkC4gS2hhIFbhuqFuIEPDom4sIFBoxrDhu51uZyBMaW5oIFRydW5nLCBUaOG7pyDEkOG7qWMsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e1!3m2!1sen!2sus!4v1741351327253!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>