<div class="container mt-4">
    <h4>{{ title }}</h4>
    <div *ngIf="errorMessage" class="alert alert-warning text-center">
      {{ errorMessage }}
    </div>
    <div *ngIf="!errorMessage" class="d-flex align-items-center">
      <button class="btn btn-outline-secondary me-2" (click)="prevFunction()" [disabled]="currentIndex === 0">
        << 
      </button>
  
      <div class="row flex-nowrap overflow-hidden">
        <div class="col-md-3" *ngFor="let product of products">
          <div class="card position-relative" [routerLink]="['/product', product.product_id]">
            <img *ngIf="product.image && product.image.length > 0" [src]="product.image[0] + '.jpg'" class="card-img-top" alt="Sản phẩm" />
            <button class="btn btn-primary btn-booking">Mua ngay</button>
            <div class="card-body">
              <h5 class="card-title text-center">{{ product.product_name }}</h5>
            </div>
          </div>
        </div>
      </div>
  
      <button class="btn btn-outline-secondary ms-2" (click)="nextFunction()" [disabled]="currentIndex + itemsPerPage >= products.length">
        >>
      </button>
    </div>
    <div class="text-center mt-4"> 
      <button type="button" class="btn btn-outline-secondary">Xem thêm</button>
    </div>     
</div>
