<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Web Mẫu</title>
    <!-- <link rel="stylesheet" href="about.component.css"> Liên kết đến tệp CSS -->
</head>
<body>
    <div class="container">
        <!-- Sử dụng src để hiển thị hình ảnh từ Imgur -->
        <!-- <img src="https://imgur.com/CvMGha9.png" alt="Hình ảnh từ Imgur"> -->
        <a href="https://imgur.com/CvMGha9"><img src="https://i.imgur.com/CvMGha9.png" title="source: imgur.com" /></a>
<!-- 
        <div class="video-container" id="videoContainer">
            <iframe src="" frameborder="0" allowfullscreen></iframe>
        </div> -->
    </div>

    <script>
        // Hiệu ứng cho video
        setTimeout(() => {
            const videoContainer = document.getElementById('videoContainer');
            videoContainer.style.opacity = '1'; // Hiện video
        }, 6000);
    </script>
</body>
</html>