<div class="about-container">
    <div class="logo">
        <img src="https://imgur.com/ZOvo4YW" alt="Logo">
    </div>
    <div class="title-container">
        <h1>VỀ PETOPIA SPA</h1>
        <hr class="divider">
    </div>
    <p>
        PETOPIA SPA là điểm đến cho những ai yêu thương và chăm sóc thú cưng. Với mong muốn mang đến trải nghiệm tốt nhất cho các chú mèo và "cún cưng", PETOPIA SPA cung cấp các dịch vụ đa dạng như tắm spa, grooming, chăm sóc sức khỏe định kỳ và chăm sóc tinh thần cho thú cưng.
    </p>
    <h2>VÌ SAO CHỌN PETOPIA SPA</h2>
    <p>
        Chúng tôi không chỉ là nơi bạn gửi thú cưng mà còn là nơi bạn có thể yên tâm gửi gắm những người bạn bốn chân của mình.
    </p>
</div>

  