<footer class="site-footer">
    <div class="footer-top">
            <div class="footer-top-content">
                <div class="social-icons">
                    <a href="#"><img src="https://i.imgur.com/O8gAHcV.png" alt="YouTube"></a>
                    <a href="#"><img src="https://i.imgur.com/ltsHWu7.png" alt="Google"></a>
                    <a href="#"><img src="https://i.imgur.com/E1musbX.png" alt="Facebook"></a>
                    <a href="#"><img src="https://i.imgur.com/7TUa8rH.png" alt="Instagram"></a>
                    <a href="#"><img src="https://i.imgur.com/ZoTb8ee.png" alt="TikTok"></a>
                </div>
                <h3 class="newsletter-title">NHẬN THÔNG TIN ƯU ĐÃI TỪ CHÚNG TÔI</h3>
                <form class="newsletter-form">
                    <input type="email" placeholder="Nhập email ưu đãi">
                    <button type="submit">Đăng ký</button>
                </form>
            </div>
    </div>

    <div class="footer-middle">
            <div class="footer-grid">
                <div class="footer-about">
                    <div class="logo-name">
                        <img class="footer-logo" src="https://i.imgur.com/Yl7PDoH.png" alt="logo">
                        <h4>VỀ PETOPIA SPA</h4>
                    </div>
                    <p><strong>Petopia.vn</strong> là trang mua sắm trực tuyến các sản phẩm và dịch vụ dành cho thú cưng của <b>Petopia Spa. Công ty TNHH PETOPIA SPA.</b> Giấy chứng nhận Đăng ký kinh doanh số 0123456789 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 28/02/2025</p>
                </div>
                <div class="footer-contact">
                    <h4>THÔNG TIN CỬA HÀNG</h4>
                    <p><i class="icon-location"></i> 669 Đỗ Mười, Khu phố 3, Linh Xuân, Thủ Đức, TP.Hồ Chí Minh</p>
                    <p><i class="icon-phone"></i> 999.999.999</p>
                    <p><i class="icon-email"></i> info&#64;petopiaspa.vn</p>
                    <p><i class="icon-clock"></i> Thứ 2 - CN: 08:30 - 19:30</p>
                </div>
                <div class="footer-policy">
                    <h4>CHÍNH SÁCH</h4>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Chính sách & Quy định chung</a></li>
                        <li><a href="#">Chính sách thanh toán</a></li>
                        <li><a href="#">Chính sách vận chuyển & giao nhận</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Chính sách đổi trả/hoàn tiền</a></li>
                    </ul>
                </div>
                <div class="footer-payment">
                    <h4>PHƯƠNG THỨC THANH TOÁN</h4>
                    <div class="payment-icons">
                        <img src="https://i.imgur.com/r6KHfh4.png" alt="MoMo">
                        <img src="https://i.imgur.com/JPtlHAF.png" alt="COD">
                    </div>
                    <div class="gov-logo">
                        <img src="https://i.imgur.com/SLNpCiO.png" alt="Bộ Công Thương">
                    </div>
                </div>
                
            </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright © 2025 Petopia Spa</p>
    </div>
</footer>
