<div class="entire-header">
    <div class="top-header">
        <h1>PETOPIA SPA - Nơi yêu thương bắt đầu từ việc chăm sóc!</h1>
    </div>
    <header class="main-header">
        <div class="logo">
            <a href="">
                <img src="https://i.imgur.com/Nx67sRr.png" alt="Logo">
            </a>
            
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm sản phẩm/dịch vụ">
            <button class="search-btn">
                <img src="https://i.imgur.com/QLkK8fa.png" alt="icon">
            </button>
        </div>
        <div class="cart">
            <a href=""><img src="https://i.imgur.com/JzrwIh9.png" alt="Giỏ hàng"></a>
        </div>
        <div class="header-right-section">
            <div class="booking">
                <div class="booking-icon">
                    <a href=""><img src="https://i.imgur.com/rvPGQ6P.png" alt="Đặt lịch"></a>
                </div>
                <div class="booking-text">
                    <h3>ĐẶT LỊCH NGAY</h3>
                    <h4>999.999.999</h4>
                </div>
            </div>
            <div class="greeting">
                <div class="greeting-icon">
                    <img src="https://i.imgur.com/bru6iBX.png" alt="User Avatar">
                </div>
                <p>Xin chào, Tran</p>
            </div>
        </div>
    </header>
    <button class="menu-btn" (click)="toggleMenu()">☰</button>
    <nav class="nav-bar" [class.show]="isMenuOpen">
        <a routerLink="/services">DỊCH VỤ & SẢN PHẨM</a>
        <a routerLink="/booking">ĐẶT LỊCH</a>
        <a routerLink="/forum">DIỄN ĐÀN</a>
        <a routerLink="/blog">BLOG</a>
        <a routerLink="/about">GIỚI THIỆU</a>
        <a routerLink="/policy">CHÍNH SÁCH</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/contact">LIÊN HỆ</a>
    </nav>
    
</div>

