<div class="entire-header">
    <div class="top-header">
        <h1>PETOPIA SPA - Nơi yêu thương bắt đầu từ việc chăm sóc!</h1>
    </div>
    <header class="main-header">
        <div class="logo">
            <a routerLink="/homepage">
                <img src="https://i.imgur.com/Nx67sRr.png" alt="Logo">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm sản phẩm/dịch vụ">
            <button class="search-btn">
                <img src="https://i.imgur.com/QLkK8fa.png" alt="icon">
            </button>
        </div>
        <div class="cart-noti">
            <div class="cart">
                <a href=""><img src="https://i.imgur.com/JzrwIh9.png" alt="Giỏ hàng"></a>
            </div>
            <div class="noti">
                <a href=""><img src="https://i.imgur.com/WYanHuD.png" alt="Thông báo"></a>
            </div>
        </div>
        <div class="header-right-section">
            <div class="booking">
                <div class="booking-icon">
                    <a href=""><img src="https://i.imgur.com/rvPGQ6P.png" alt="Đặt lịch"></a>
                </div>
                <div class="booking-text">
                    <h3>ĐẶT LỊCH NGAY</h3>
                    <h4>999.999.999</h4>
                </div>
            </div>
            <div class="greeting">
                <div class="greeting-icon">
                    <a *ngIf="!userName" routerLink="/login">
                        <img src="https://i.imgur.com/bru6iBX.png" alt="User Avatar">
                    </a>
                </div>
                <p *ngIf="userName">Xin chào, <br>{{ userName }}!</p>
                <p *ngIf="!userName">Xin chào, Khách!</p>
                <!-- <i class="bi bi-arrow-bar-right" *ngIf="userName" (click)="logout()" class="logout-btn"></i> -->
                <button *ngIf="userName" (click)="logout()" class="logout-btn">
                <i class="fa fa-sign-out"></i> Đăng xuất
                </button>
            </div>
        </div>
    </header>
    <button class="menu-btn" (click)="toggleMenu()">☰</button>
    <nav class="nav-bar" [class.show]="isMenuOpen">
        <a routerLink="/product-service" (click)="showServiceBar()">DỊCH VỤ & SẢN PHẨM</a>
        <a routerLink="/booking" (click)="showBar()">ĐẶT LỊCH</a>
        <div class="dropdown">
            <a class="dropbtn" routerLink="/technology" (click)="showBar()">CÔNG NGHỆ AR/AI</a>
            <div class="dropdown-content">
                <a routerLink="/technology/AR">CÔNG NGHỆ AR</a>
                <a routerLink="/technology/AI">CÔNG NGHỆ AI</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn" routerLink="/forum" (click)="showBar()">DIỄN ĐÀN</a>
            <div class="dropdown-content">
                <a routerLink="/blog">BLOG</a>
                <a routerLink="/experience">KINH NGHIỆM</a>
            </div>
        </div>          
        <a routerLink="/blog" (click)="showBar()">KINH NGHIỆM HAY</a>
        <a routerLink="/about" (click)="showBar()">GIỚI THIỆU</a>
        <a routerLink="/policy" (click)="showBar()">CHÍNH SÁCH</a>
        <a routerLink="/faq" (click)="showBar()">FAQ</a>
        <a routerLink="/contact" (click)="showBar()">LIÊN HỆ</a>
    </nav>
    <div [ngSwitch]="displaybar">
        <div *ngSwitchCase="'service-bar'" class="product-service-bar">
            <nav>
                <a href="#hotel-service">Dịch vụ khách sạn thú cưng</a>
                <a href="#spa-service">Dịch vụ spa</a>
                <a href="#health-service">Dịch vụ chăm sóc sức khỏe</a>
                <a href="#other-service">Dịch vụ khác</a>
            </nav>
        </div>
        <div *ngSwitchCase="'product-bar'" class="product-service-bar">
            <nav>
                <a href="#dog-product">Sản phẩm cho chó</a>
                <a href="#cat-product">Sản phẩm cho mèo</a>
            </nav>
        </div>
        <div *ngSwitchCase="'dog-product-bar'" class="product-service-bar">
            <nav>
                <a href="#dog-food">Thức ăn cho chó</a>
                <a href="#dog-drug">Thuốc cho chó</a>
                <a href="#dog-clean">Dụng cụ vệ sinh cho chó</a>
                <a href="#dog-accessories">Phụ kiện cho chó</a>
                <a href="#dog-clothes">Quần áo cho chó</a>
                <a href="#dog-goods">Đồ dùng cho chó</a>
            </nav>
        </div>
        <div *ngSwitchCase="'cat-product-bar'" class="product-service-bar">
            <nav>
                <a href="#cat-food">Thức ăn cho mèo</a>
                <a href="#cat-drug">Thuốc cho mèo</a>
                <a href="#cat-clean">Dụng cụ vệ sinh cho mèo</a>
                <a href="#cat-accessories">Phụ kiện cho mèo</a>
                <a href="#cat-clothes">Quần áo cho mèo</a>
                <a href="#cat-goods">Đồ dùng cho mèo</a>
            </nav>
        </div>
        <div *ngSwitchDefault></div>
    </div>
</div>

