<div class="entire-header">
    <div class="top-header">
        <h1>PETOPIA SPA - Nơi yêu thương bắt đầu từ việc chăm sóc!</h1>
    </div>
    <header>
        <div class="logo">
            <img src="" alt="Logo">
            <h2>PETOPIA SPA</h2>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm sản phẩm/dịch vụ">
            <button class="search-btn">
                <img src="" alt="icon">
            </button>
        </div>
        <div class="cart">
            <a href=""><img src="" alt="Giỏ hàng"></a>
        </div>
        <div class="header-right-section">
            <div class="booking">
                <div class="booking-icon">
                    <a href=""><img src="" alt="Đặt lịch"></a>
                </div>
                <div class="booking-text">
                    <h3>ĐẶT LỊCH NGAY</h3>
                    <h4>999.999.999</h4>
                </div>
            </div>
            <div class="greeting">
                <div class="greeting-icon">
                    <img src="user-icon.png" alt="User Avatar">
                </div>
                <p>Xin chào, A</p>
            </div>
        </div>
    </header>
    <nav class="nav-bar">
        <a href="">DỊCH VỤ & SẢN PHẨM</a>
        <a href="">ĐẶT LỊCH</a>
        <a href="">DIỄN ĐÀN</a>
        <a href="">KINH NGHIỆM HAY</a>
        <a href="">GIỚI THIỆU</a>
        <a href="">CHÍNH SÁCH</a>
        <a href="">FAQ</a>
        <a href="">LIÊN HỆ</a>
    </nav>
</div>
<div class="content">
    <p>Content</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident odio perspiciatis minima excepturi neque, quae corporis reiciendis fugiat eveniet impedit obcaecati nostrum accusamus nihil soluta eum ea quod rerum enim!</p>
</div>
