 *, *::before, *::after {
    box-sizing: border-box;
}
.entire-header {
    width: 100%;
    margin: 0;
    font-family: "EB Garamond";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.content {
    margin-top: 200px;
}
.top-header {
    background-color: #e3ccbd;
    text-align: center;
    padding: 8px;
}
.top-header h1 {
    margin: 0;
    color: #4f2b1a;
    font-weight: bold;
    font-size: 12pt;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4f2b1a;
    color: white;
    padding: 3px 10px;
    position: relative;
}
.logo img {
    width: 200px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h2 {
    font-size: 14pt;
    margin-left: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
}
.search-bar:hover {
    box-shadow: 3px 3px 12px #e3ccbd;
}
.search-bar input {
    flex: 1;
    padding: 8px;
    border-radius: 10px;   
    border: none; 
    outline: none;
}
.search-btn {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-left: 1px solid #ccc;
}
.search-btn img {
    width: 15px;
    height: 15px;
}
.cart img {
    width: 30px;
    height: 30px;
}
.header-right-section {
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 50px;
}
.booking {
    display: flex;
    align-items: center;
    gap: 10px;
}
.booking img {
    width: 24px;
    height: 24px;
}
.booking h3 {
    margin: 0;
    font-size: 12pt;
}
.booking h4 {
    margin: 0;
    font-size: 10pt;
}
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.greeting-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.menu-btn {
    display: none;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #e3ccbd;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
}
.nav-bar a {
    color: #4f2b1a;
    /* font-size: 12pt; */
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
.nav-bar a:hover {
    background-color: #4f2b1a !important;
    color: white !important;
}
.nav-bar a::after {
    background-color: #4f2b1a !important;
    color: white !important;
}
@media screen and (max-width: 1024px) {
    .main-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo {
        width: 30%;
    }
    .search-bar {
        width: 50%;
    }
    .cart {
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }
    .header-right-section {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #4f2b1a;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
}
@media screen and (max-width: 800px) {
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo {
        width: 30%;
    }
    .logo img{
        width: 100%;
    }

    .search-bar {
        width: 60%;
    }
    .cart {
        width: 10%;
        display: flex;
        justify-content: flex-end;
    }
    .header-right-section {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #4f2b1a;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    .nav-bar {
        position: fixed;
        top: 100px;
        left: -250px;
        padding-left: 30px;
        width: 45%;
        height: auto;
        background-color: #e3ccbd;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
        font-size: 10pt;
        overflow-y: auto;
    }
    .nav-bar a {
        display: block;
        padding: 15px;
        text-decoration: none;
        font-weight: bold;
        color: #4f2b1a;
        border-bottom: 1px solid #ffffff;
        text-align: left;
        padding-left: 20px;
    }
    .nav-bar a:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    .menu-btn {
        display: block;
        font-size: 24px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
        position: absolute;
        left: 10px;
        top: 130%;
        transform: translateY(-50%);
        border-radius: 20%; 
        color: white;
        background-color: #4f2b1a;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        z-index: 1001;
    }
    .menu-btn:hover {
        background-color: #e3ccbd;
        color: #4f2b1a;
    }
    .nav-bar.show {
        transform: translateX(250px); 
    }
}

