
<div class="service">
  <app-service-list 
    title="DỊCH VỤ BÁN CHẠY, GIẢM GIÁ"
    [services]="serviceCategories.all.displayed"
    [errorMessage]="errorMessage"
    [currentIndex]="serviceCategories.all.currentIndex"
    [itemsPerPage]="itemsPerPage"
    [prevFunction]="changePage.bind(this, 'all', false)"
    [nextFunction]="changePage.bind(this, 'all', true)">
  </app-service-list>

  <app-service-list 
    title="DỊCH VỤ KHÁCH SẠN, THÚ CƯNG"
    [services]="serviceCategories.hotel.displayed"
    [errorMessage]="errorMessage"
    [currentIndex]="serviceCategories.hotel.currentIndex"
    [itemsPerPage]="itemsPerPage"
    [prevFunction]="changePage.bind(this, 'hotel', false)"
    [nextFunction]="changePage.bind(this, 'hotel', true)">
  </app-service-list>

  <app-service-list 
    title="DỊCH VỤ SPA, THÚ CƯNG"
    [services]="serviceCategories.spa.displayed"
    [errorMessage]="errorMessage"
    [currentIndex]="serviceCategories.spa.currentIndex"
    [itemsPerPage]="itemsPerPage"
    [prevFunction]="changePage.bind(this, 'spa', false)"
    [nextFunction]="changePage.bind(this, 'spa', true)">
  </app-service-list>
</div>
