<div class="product-service">
  <div class="product-service-category">
    <nav>
      <a (click)="toggleCategory('service-category', $event); sendValue('service-bar')" 
         [ngClass]="choosenCategory === 'service-category' ? 'border-highlight' : ''">DỊCH VỤ</a>
      <a (click)="toggleCategory('product-category', $event); sendValue('product-bar')"  
         [ngClass]="choosenCategory === 'product-category' ? 'border-highlight' : ''">SẢN PHẨM</a>
    </nav>
  </div>

  <div *ngIf="choosenCategory === 'service-category'">
    <app-service></app-service>
  </div>

  <div id="product-list" *ngIf="choosenCategory === 'product-category'">
    <p>
      <i class="bi bi-chevron-compact-right" 
         [ngClass]="rotatedIcons['dog-product-bar'] ? 'rotate' : ''"></i>
      <a (click)="toggleIcon('dog-product-bar')"> SẢN PHẨM CHO CHÓ</a>
    </p>
    <div *ngIf="visibleSections['dog-product-bar']"><app-dog-product></app-dog-product></div>
    <hr>
    <p>
      <i class="bi bi-chevron-compact-right" 
         [ngClass]="rotatedIcons['cat-product-bar'] ? 'rotate' : ''"></i>
      <a (click)="toggleIcon('cat-product-bar')">SẢN PHẨM CHO MÈO</a>
    </p>
    <div *ngIf="visibleSections['cat-product-bar']"><app-cat-product></app-cat-product></div>
  </div>
</div>
