<div class="container">

    <div class="banner">
        <div class="banner-main">
            <a href="#" class="banner-link">  <img src="https://i.imgur.com/7wWSn55.png" alt="Khai trương" ></a>
        </div>
        
        <div class="side-banner">
            <a href="#" class="banner-link"><img src="https://i.imgur.com/soy6tHv.png" alt="AR" > </a>
            <a href="#" class="banner-link"><img src="https://i.imgur.com/FOxm7iW.png" alt="Thử đồ"></a>
        </div>
    </div>


    <div class="small-section">
        <div class="small-box">
            <strong> <img src="https://i.imgur.com/KbOJMZi.png" alt="">MIỄN PHÍ GIAO HÀNG</strong>
        <p>CHO ĐƠN HÀNG TỪ 1 TRIỆU ĐỒNG</p></div>
        <div class="small-box">
            <strong> <img src="https://i.imgur.com/wmdiB5u.png" alt="" >HỖ TRỢ 24 GIỜ</strong>
            <p>HOTLINE: 999.999.999</p>
        </div>
        <div class="small-box">
            <strong> <img src="https://i.imgur.com/ZmxJBhl.png" alt="">ĐỔI TRẢ HÀNG</strong>
            <p>TRONG VÒNG 7 NGÀY</p>
        </div>
        <div class="small-box">
            <strong> <img src="https://i.imgur.com/pgmfMVe.png" alt="">HOÀN TIỀN 100%</strong>
            <p>TRONG VÒNG 1-2 NGÀY</p>
        </div>
    </div>

    <div class="special">
        <h3>CÁC CHỨC NĂNG ĐẶT BIỆT TẠI PETOPIA SPA</h3>
        <p>Petopia Spa tự hào mang đến trải nghiệm đặc biệt, nơi thú cưng được yêu thương và chăm sóc tận tâm🐾✨</p>
    </div>

    <div class="al-banner">
        <a href="#" class="banner-link"><img src="https://i.imgur.com/F0yPckv.png" alt="al"> </a>
    </div>

    <div class="discount-banner">
        <div class="badge-banner">
            <a href="#" class="banner-link"><img src="https://i.imgur.com/DU6E3MW.png" alt="huy hiệu"> </a>
        </div>
        <div class="forum-banner">
            <a href="#" class="banner-link"><img src="https://i.imgur.com/Qv3wiUt.png" alt="forum"> </a>
        </div>
    </div>
    <div class="special">
        <h3>SẢN PHẨM DÀNH CHO BOSS</h3>
        <p>Các loại hạt, pate,...đầy dinh dưỡng dành cho thú cưng của của bạn🐾✨ </p>
    </div>
    <div class="pet-products-banner">
        <div class="dog-products">
            <a href="#" class="banner-link"> <img src="https://i.imgur.com/y9CEhht.png" alt="Sản phẩm cho mèo"> </a>
        </div>
        <div class="cat-products">
            <a href="#" class="banner-link"><img src="https://i.imgur.com/DkvrzFF.png" alt="Sản phẩm cho chó"> </a>
            </div>
    </div>
    <div class="product-categories">
        <div class="pate">
            <a href="#" class="banner-link"> <img src="https://i.imgur.com/6SuSeIx.png" alt="pate cho chó"></a>
            </div>
        <div class="hat">
            <a href="#" class="banner-link"> <img src="https://i.imgur.com/XvKbdsx.png" alt="hạt cho chó"></a>
            </div>
        <div class="dochoi">
            <a href="#" class="banner-link"><img src="https://i.imgur.com/4XDJ626.png" alt="đồ chơi cho pet"></a>
            </div>
    </div>

    <div class="special">
        <h3>DỊCH VỤ DÀNH CHO BOSS</h3>
        <p>Những dịch vụ tuyệt vời, đầy ưu đãi, mang đến trải nghiệm trọn vẹn cho thú cưng của bạn🐾✨</p>
    </div>

    <div class="pricing-table">
        <img src="https://i.imgur.com/VgP5otI.png" alt="">
    </div>

    <div class="service-container">
        <div class="service-grid">
            <div class="service-item">
                <a href="#" class="banner-link"><img src="https://i.imgur.com/Iru8TUu.png" alt="Dịch vụ khách săn thú cưng"></a>
            </div>
            <div class="service-item">
                <a href="#" class="banner-link"><img src="https://i.imgur.com/yHOlHiv.png" alt="Dịch vụ tắm vệ sinh"></a>
            </div>
            <div class="service-item">
                <a href="#" class="banner-link"><img src="https://i.imgur.com/n2X8r0X.png" alt="Dịch vụ nhuộm lông chó"></a>
                
            </div>
            <div class="service-item">
                <a href="#" class="banner-link"> <img src="https://i.imgur.com/T0CmQx1.png" alt="Dịch vụ tẩy lông chó"></a>
            </div>
            <div class="service-item">
                <a href="#" class="banner-link"> <img src="https://i.imgur.com/5OszGSD.png" alt="Dịch vụ cao vôi răng"></a>
            </div>
            <div class="service-item">
                <a href="#" class="banner-link"> <img src="https://i.imgur.com/um9RNm6.png" alt="Dịch vụ trị nám"></a>
            </div>
        </div>
        <button class="view-more">XEM THÊM</button>
    </div>

</div>
